# Use this file to define individuals or teams that are responsible for code in a repository.
# Read more: <https://help.github.com/articles/about-codeowners/>
#
# Order is important: the last matching pattern has the highest precedence

# These owners will be the default owners for everything
*             @itisopen/engineering @itisopen/contributors

# ITisOpen must review any changes to Makefiles
**/Makefile   @itisopen/engineering
**/Makefile.* @itisopen/engineering

# ITisOpen must review any changes to GitHub actions
.github/*     @itisopen/engineering

# ITisOpen must review any changes to standard context definition,
# but some changes can be rubber-stamped.
**/*.tf       @itisopen/engineering @itisopen/contributors @itisopen/approvers
README.yaml   @itisopen/engineering @itisopen/contributors @itisopen/approvers
README.md     @itisopen/engineering @itisopen/contributors @itisopen/approvers
docs/*.md     @itisopen/engineering @itisopen/contributors @itisopen/approvers

# ITisOpen Admins must review all changes to CODEOWNERS or the mergify configuration
.github/mergify.yml @itisopen/admins
.github/CODEOWNERS  @itisopen/admins
